<ul class="nav nav-tabs">
  <li><%= link_to "Main Page", root_path %></li>
  <li><%= link_to "Articles", root_path %></li>
  <li><%= link_to 'Featured Articles', edit_user_registration_path, :class => 'navbar-link' %> </li>
  <li><%= link_to "Current Events", destroy_user_session_path, method: :delete, :class => 'navbar-link' %> </li>
  <li><%= link_to "Articles", root_path %></li>
  <li><%= link_to "Articles", root_path %></li>
  <li><%= link_to "Articles", root_path %></li>
  <li><%= link_to "Articles", root_path %></li>
  <li><%= link_to "Articles", root_path %></li>
  <li><%= link_to "Articles", root_path %></li>
</ul>